/* Contenedor principal */
.contenedor {
    display: flex;
    font-family: 'Nunito', sans-serif;
}

/* Contenedor de la izquierda */
.contenedor__imagen {
    text-align: center;
    width: 50%;
}

/* Contenedor de la derecha */

.contenedor__form {
    text-align: center;
    height: 600px;
    width: 50%;
    margin-top: 100px;
}
/* card */
.card {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 2px solid #969696;
    border-radius: 4px;
    margin: 0 auto;
    width: 380px;
    height: 360px;
}

/* form dentro del card */
.card__form {
    margin-top: 30px;
}

.card__input {
    background: transparent;
    border: none;
    border-bottom: 3px #0b0b9f solid;
    margin-top: 30px;
    outline: none;
    height: 30px;
    width: 300px;
    transition: all ease 0.8s;
}

.card__input:focus {
    border-bottom: 3px #ffffff solid;
}

.card__input::placeholder {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.divBoton {
    margin-top: 40px;
}

@media screen and (max-width: 760px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenedor__imagen {
        width: 90%;
    }
    .contenedor__form {
        width: 80%;
    }
}
